*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: powderblue;

}
.page-wrapper{ 
    position: relative;
    top: 100px;
    display: flex;
    margin: auto;
    max-width: 500px;
    min-height: 500px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px;
    padding: 50px 10px 10px 10px;
}
.card{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    display: flex;
    width: 345px;
    height:220px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    background-image: url("images/bg-card.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card-head{

}